html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;   
    height: 100%;   
    background-color: pink;
}
#the-canvas {
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black
    /* background: url('./images/BG\ City.jpg') no-repeat center / cover; */
}